In [7]:
import pandas as pd
import pandas as pd

def gen_master(ps=False):
    count=0
    files = ['dfg', 'rimdfg']
    end_year = 2025
    master_df = pd.DataFrame()

    all_frames=[]
    for file in files:
        dfs = []
        for year in range(2014, end_year):
            
            if ps == False:
                path = f"{year}/defense/{file}.csv"
            else:
                path = f"{year}/playoffs/defense/{file}.csv"
            
            df = pd.read_csv(path)
            print(f"Processing {file} for {year}")
            
            # Standardize column names based on file type
            if file == 'dfg':

                df = df[['nba_id','team_id','PLAYER', 'TEAM', 'DFG%','DFGA','DFGM','DIFF%', 'year']]  # Overall DFG contested
                df = df.rename(columns={'DFG%': 'overall_dfg%','DFGA':'all_dfga','DFGM':'all_dfgm','TEAM':'Team','DIFF%':'dif%'})
                
                
            elif file == 'rim_acc':
                #df=df.sort_values(by='MinutesOn',ascending=False)
                #df.drop_duplicates(subset='Name',inplace=True)
                df = df[['Name', 'On', 'Off', 'Year','Team']]  # Rim accuracy on and of
                df = df.rename(columns={'Name': 'PLAYER', 'On': 'rim_acc_on', 'Off': 'rim_acc_off','Year':'year'})
            elif file == 'rimdfg':

                df = df[['PLAYER', 'DFG%','DFGA','DFGM' ,'year','nba_id','DIFF%', 'team_id']]  # Rim DFG contested
                df = df.rename(columns={'FREQ%': 'rim_freq','DFG%': 'rim_dfg%','DFGA':'rim_dfga','DFGM':'rim_dfgm','TEAM':'Team','DIFF%':'rim_dif%'})
                count+=len(df)
            elif file == 'rimfreq':
                #df=df.sort_values(by='MinutesOn',ascending=False)
                #df.drop_duplicates(subset='Name',inplace=True)
                df = df[['Name', 'On', 'Off', 'Year','Team']]  # Rim frequency on and off
                df = df.rename(columns={'Name': 'PLAYER', 'On': 'rim_freq_on', 'Off': 'rim_freq_off','Year':'year'})
            dfs.append(df)
        frame=pd.concat(dfs)
        all_frames.append(frame)
    master=all_frames[0]
    print(master.columns)
    for frame in all_frames[1:]:
        master=master.merge(frame,on=['PLAYER','year','nba_id','team_id'])
    print(count)
        
                
        
    
    
    # Save master file
    return master

# Usage
df = gen_master(ps=False)
df

Processing dfg for 2014
Processing dfg for 2015
Processing dfg for 2016
Processing dfg for 2017
Processing dfg for 2018
Processing dfg for 2019
Processing dfg for 2020
Processing dfg for 2021
Processing dfg for 2022
Processing dfg for 2023
Processing dfg for 2024
Processing rimdfg for 2014
Processing rimdfg for 2015
Processing rimdfg for 2016
Processing rimdfg for 2017
Processing rimdfg for 2018
Processing rimdfg for 2019
Processing rimdfg for 2020
Processing rimdfg for 2021
Processing rimdfg for 2022
Processing rimdfg for 2023
Processing rimdfg for 2024
Index(['nba_id', 'team_id', 'PLAYER', 'Team', 'overall_dfg%', 'all_dfga',
       'all_dfgm', 'dif%', 'year'],
      dtype='object')
5683

,nba_id,team_id,PLAYER,Team,overall_dfg%,all_dfga,all_dfgm,dif%,year,rim_dfg%,rim_dfga,rim_dfgm,rim_dif%
0,201599,1610612746,DeAndre Jordan,LAC,45.5,1375,626,-2.4,2014,56.4,621,350,-3.7
1,201577,1610612757,Robin Lopez,POR,43.4,1315,571,-4.4,2014,46.7,642,300,-12.7
2,201150,1610612739,Spencer Hawes,CLE,45.7,1285,587,-1.6,2014,56.4,585,330,-3.4
3,201586,1610612760,Serge Ibaka,OKC,44.4,1270,564,-2.7,2014,48.8,621,303,-11.1
4,201149,1610612741,Joakim Noah,CHI,42.5,1246,529,-4.6,2014,51.2,451,231,-8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5686,1641847,1610612741,Andrew Funk,CHI,75.0,4,3,27.2,2024,50.0,2,1,-11.0
5687,1631250,1610612739,Pete Nance,CLE,50.0,4,2,5.5,2024,50.0,2,1,-7.2
5688,1631167,1610612740,Izaiah Brockington,NOP,33.3,3,1,-12.1,2024,50.0,2,1,-14.2
5689,1630284,1610612753,Kevon Harris,ORL,33.3,3,1,-11.2,2024,50.0,2,1,-9.5
5690,1628977,1610612764,Hamidou Diallo,WAS,100.0,1,1,41.6,2024,100.0,1,1,39.0

In [8]:
df.drop_duplicates()

,nba_id,team_id,PLAYER,Team,overall_dfg%,all_dfga,all_dfgm,dif%,year,rim_dfg%,rim_dfga,rim_dfgm,rim_dif%
0,201599,1610612746,DeAndre Jordan,LAC,45.5,1375,626,-2.4,2014,56.4,621,350,-3.7
1,201577,1610612757,Robin Lopez,POR,43.4,1315,571,-4.4,2014,46.7,642,300,-12.7
2,201150,1610612739,Spencer Hawes,CLE,45.7,1285,587,-1.6,2014,56.4,585,330,-3.4
3,201586,1610612760,Serge Ibaka,OKC,44.4,1270,564,-2.7,2014,48.8,621,303,-11.1
4,201149,1610612741,Joakim Noah,CHI,42.5,1246,529,-4.6,2014,51.2,451,231,-8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5686,1641847,1610612741,Andrew Funk,CHI,75.0,4,3,27.2,2024,50.0,2,1,-11.0
5687,1631250,1610612739,Pete Nance,CLE,50.0,4,2,5.5,2024,50.0,2,1,-7.2
5688,1631167,1610612740,Izaiah Brockington,NOP,33.3,3,1,-12.1,2024,50.0,2,1,-14.2
5689,1630284,1610612753,Kevon Harris,ORL,33.3,3,1,-11.2,2024,50.0,2,1,-9.5
5690,1628977,1610612764,Hamidou Diallo,WAS,100.0,1,1,41.6,2024,100.0,1,1,39.0

In [9]:
df.to_csv('defense_master.csv',index=False)

In [10]:
df = gen_master(ps=True)
df.to_csv('defense_master_ps.csv',index=False)
df

Processing dfg for 2014
Processing dfg for 2015
Processing dfg for 2016
Processing dfg for 2017
Processing dfg for 2018
Processing dfg for 2019
Processing dfg for 2020
Processing dfg for 2021
Processing dfg for 2022
Processing dfg for 2023
Processing dfg for 2024
Processing rimdfg for 2014
Processing rimdfg for 2015
Processing rimdfg for 2016
Processing rimdfg for 2017
Processing rimdfg for 2018
Processing rimdfg for 2019
Processing rimdfg for 2020
Processing rimdfg for 2021
Processing rimdfg for 2022
Processing rimdfg for 2023
Processing rimdfg for 2024
Index(['nba_id', 'team_id', 'PLAYER', 'Team', 'overall_dfg%', 'all_dfga',
       'all_dfgm', 'dif%', 'year'],
      dtype='object')
2189

,nba_id,team_id,PLAYER,Team,overall_dfg%,all_dfga,all_dfgm,dif%,year,rim_dfg%,rim_dfga,rim_dfgm,rim_dif%
0,201586,1610612760,Serge Ibaka,OKC,41.2,323,133,-7.7,2014,52.2,136,71,-10.4
1,1495,1610612759,Tim Duncan,SAS,47.8,291,139,-0.2,2014,56.4,156,88,-5.9
2,2547,1610612748,Chris Bosh,MIA,50.6,253,128,3.8,2014,59.1,115,68,-0.8
3,201579,1610612754,Roy Hibbert,IND,43.4,244,106,-4.5,2014,45.9,98,45,-16.3
4,201142,1610612760,Kevin Durant,OKC,44.1,236,104,-2.9,2014,60.0,80,48,-2.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2184,1641775,1610612738,Jordan Walsh,BOS,0.0,3,0,-40.6,2024,0.0,1,0,-53.3
2185,203648,1610612749,Thanasis Antetokounmpo,MIL,0.0,3,0,-64.5,2024,0.0,3,0,-69.3
2186,203933,1610612750,T.J. Warren,MIN,50.0,2,1,8.6,2024,0.0,1,0,-56.7
2187,202738,1610612756,Isaiah Thomas,PHX,100.0,2,2,57.2,2024,100.0,1,1,41.9
2188,1630346,1610612740,Matt Ryan,NOP,100.0,1,1,44.6,2024,100.0,1,1,36.5